{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/crea.css">        
{% endblock %}

{% block body %}
    <div class='row justify-content-center'>
        <img class="col-4 single-img" src="/img/miniature_graphic/{{graphic.miniature}}">
    </div>
    <div class='row align-items-center justify-content-center'>
        <p class="col-4 text-center"><u>client</u> : {{graphic.client}}</p>
        <p class="col-4 text-center">
            {% if graphic.url is empty %}
             
            {% else %}
                <a class='button' href="{{graphic.url}}">Observez</a>
            {% endif %}
        </p>
        <p class="col-4 text-center">{{graphic.categorie}}</p>
    </div>
    <div class="row justify-content-center">
        <p class='col-10 my-3'>{{graphic.description | raw}}</p>
    </div>

{% endblock %}


{% block javascripts %}
    <script src='/js/crea.js'></script>
{% endblock %}