{% extends "./base.html.twig" %}


{% block title %}Admin menu{% endblock %}

{% block body %}
<div class="d-flex flex-column align-items-center">
    <h1 class="text-center">Admin Panel</h1>

    {# Compteur message non lu (modifié l'entité message, ajouter boolean lu/non) #}
    <a href="{{path("messages")}}" class="button my-5">message</a>
</div>
<div class="row">
    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
        <h2>Créa Web</h2>
        <a href="{{path('admin_web_create')}}" class="button my-5">create</a>
    </div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
        <h2>Créa design</h2>
        <a href="{{path('admin_graphic_create')}}" class="button my-5">create</a>
    </div>

    <div class="row">
        <div class="col-6">
            <ul class="w-100">
                {% for webcrea in webcreas %} 
                    {# Choper code USB, Afficher x par x  #}
                    <li class="row mb-2">
                        <div class="col-2 d-flex flex-column">
                            <span>{{webcrea.name}}</span>
                            <span>{{webcrea.client}}</span>
                            <span>{{webcrea.categorie}}</span>
                            <img src="img/miniature_web/{{webcrea.miniature}}" alt="">
                            <span>{{webcrea.url}}</span>
                            <br><hr>
                        </div>
                        <p class="col-8 px-2">{{webcrea.description}}</p>
                        <div class="col-2 d-flex flex-column">
                            <a>modifier</a>
                            
                            <!-- Button trigger modal -->
                            <a href="" data-bs-toggle="modal" data-bs-target="#suppr_webcrea">
                            supprimer
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="suppr_webcrea" tabindex="-1" aria-labelledby="suppr_webcreaLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="suppr_webcreaLabel">Suppression de post</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        On est sure de supprimer ce post ? 
                                        <p>{{webcrea.name}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Oups</button>
                                        <a  href="{{ path('webcrea_delete', {id: webcrea.id}) }}" type="button" class="btn btn-primary">ca dégage</a>
                                    </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            <ul class="w-100">
                {% for graphiccrea in graphiccreas %} 
                    <li class="row mb-2">
                        <div class="col-2 d-flex flex-column">
                            <span>{{graphiccrea.name}}</span>
                            <span>{{graphiccrea.client}}</span>
                            <span>{{graphiccrea.categorie}}</span>
                            <img src="img/miniature_graphic/{{graphiccrea.miniature}}" alt="">
                            <span>{{graphiccrea.url}}</span>
                        </div>
                        <p class="col-8 px-2">{{graphiccrea.description}}</p>
                        <div class="col-2 d-flex flex-column">
                            <a>modifier</a>
                             <!-- Button trigger modal -->
                            <a href="" data-bs-toggle="modal" data-bs-target="#suppr_graphiccrea">
                            supprimer
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="suppr_graphiccrea" tabindex="-1" aria-labelledby="suppr_graphiccreaLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="suppr_graphiccreaLabel">Suppression de post</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        On est sure de supprimer ce post ? 
                                        <p>{{graphiccrea.name}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Oups</button>
                                        <a  href="{{ path('graphiccrea_delete', {id: graphiccrea.id}) }}" type="button" class="btn btn-primary">ca dégage</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}
