{% extends 'base.html.twig' %}

{% block title %}Contactez moi !{% endblock %}

{% block body %}
    <div class="row h-100">
        <div class="col-lg-7 col-12 d-flex flex-column justify-content-center align-items-center">
            <h1 class='text-center mb-5'>contactez-moi</h1>
            
            <p class="mt-5">
                Envie d'un logo ? D'un site ? D'une maquette ?<br>
                N'hésitez pas à me contacter ou à consulter mes différents réseaux sociaux.<br>
                Pour toutes demandes complémentaires, renseignements, encouragements, avis... <br>N'hésitez pas a me contacter via le formulaire de contact.
                <br><br>
                à bientot !
            </p>
        </div>
        <div class="col-lg-1 col-12 d-flex flex-lg-column flex-row justify-content-center align-items-center">
            <img src=''>
            <img src=''>
            <img src=''>
        </div>
        <div class="col-lg-4 col-12 d-flex flex-column justify-content-center align-items-center">
            {{form_start(message_form)}}
                {{form_widget(message_form.name, {"attr":{"class" : "form-field w-100", "placeholder":"Nom prénom"}})}}
                {{form_widget(message_form.email, {"attr":{"class" : "form-field w-100", "placeholder":"Email"}})}}
                {{form_widget(message_form.phone_number, {"attr":{"class" : "form-field w-100", "placeholder":"Numéro de téléphone (facultatif)"}})}}
                {{form_widget(message_form.message, {"attr":{"class" : "form-field w-100", "placeholder":"Message"}})}}
                {{form_widget(message_form.save, {"attr":{"class" : "button" }})}}
                 {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
              

            {{ form_end(message_form)}}
        </div>
    </div>

    <style>
        body{
            height: 100vh;
            overflow: hidden; /* Hide scrollbars */

        }
    </style> 


{% endblock %}

